doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='assets/css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src='assets/js/script.js')
body
	.container
		.block.block1
			h4 100%
			img.icon(src="https://blog.hahow.in/content/images/2016/11/Hahow-final-logo-cs6-1.png", alt="")
		.block.intro
			.sblock
				img
				h4 store1
			.sblock
				img
				h4 store2
			.sblock
				img
				h4 store3

		.block.block2
			h4 30%
		.block.block3
			h4 70%
		.block.block4
			h4 30%
		.block.block5
			h4 30%
		.block.block6
			h4 40%
		.block.block7
			h4 100%
		